<app-header titulo="Controle Academico">

</app-header>

<ion-content>
  <ion-tabs>
      <ion-tab-bar slot="bottom">
      
          <ion-tab-button href="/">
              <ion-icon name="person-circle"></ion-icon>
              <ion-label>Inicio</ion-label>
          </ion-tab-button>

          <ion-tab-button routerLink="../calendario">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Calendário</ion-label>
            <ion-badge>25</ion-badge>
        </ion-tab-button>
      
          <ion-tab-button routerLink="../notas">
              <ion-icon name="calculator-outline"></ion-icon>
              <ion-label>Notas</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="Sair">
              <ion-icon name="exit-outline"></ion-icon>
              <ion-label>Sair</ion-label>
          </ion-tab-button>

      </ion-tab-bar>
  </ion-tabs>

</ion-content>

<!--<ion-header>
  <ion-toolbar>
    <ion-title>controleacademico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>-->
