<ion-header>
    <ion-toolbar>
    <ion-title text-capitalize class="titulo">AppAcad01</ion-title>
    </ion-toolbar>  
</ion-header>

<ion-content>
      

<div class="center">
<ion-item>
  <ion-button routerLink="/dadospessoais">Dados Pessoais</ion-button>
</ion-item>

<ion-item>
  <ion-button routerLink="/financeiro">Financeiro</ion-button>
</ion-item>

<ion-item>
  <ion-button routerLink="/notas">Notas</ion-button>
</ion-item>
<ion-item>
 <!-- <ion-button (click)="exitApp()">Sair</ion-button>-->
 <ion-button (click)="close()">Sair</ion-button>
</ion-item>

</div>
<!--<ion-button routerLink="/dadospessoais">Dados Pessoais</ion-button>
<ion-button routerLink="/financeiro">Dados Pessoais</ion-button>
<ion-button routerLink="/notas">Dados Pessoais</ion-button>
-->
</ion-content>
